<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>21/08/02 20:48:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:seleniumproject_two_Two.NewTest@4667ae56]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@17905192</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>21/08/02 20:45:21</td>   <td>-166597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod(java.lang.String, java.lang.String)[pri:0, instance:seleniumproject_two_Two.NewTest@4667ae56]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@17905192</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>21/08/02 20:45:21</td>   <td>-166597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod(java.lang.String, java.lang.String)[pri:0, instance:seleniumproject_two_Two.NewTest@3e6fa38a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1214764659</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>21/08/02 20:45:23</td>   <td>-164466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:seleniumproject_two_Two.NewTest@3e6fa38a]">f</td> 
  <td>TestNG@1214764659</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>21/08/02 20:45:46</td>   <td>-142321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:seleniumproject_two_Two.NewTest@4667ae56]">f</td> 
  <td>TestNG@17905192</td>   <td></td> </tr>
</table>
